@import "../base/listas";
@import "../base/variables";

.body-tutoriales{

   /* background-image: url(/multimedia/fondo-tut.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;*/

   
  
}

.header-tutoriales img{
    width: 100%;
    
    
}

.header-tutoriales h1{
    font-size: 3.5rem;
}

.cuidados h1{
    text-align: center;
    margin-top: 2rem;

}
