@import "../base/listas";
@import "../base/variables";

.body-tutoriales{

   /* background-image: url(/multimedia/fondo-tut.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;*/

   
  
}

.header-tutoriales img{
    width: 100%;
    
    
}

.header-tutoriales h1{
    font-size: 3.5rem;
}
.cuidados{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.cuidados h1{
   
    text-align: center;
    margin-top: 2rem;

}
.cuidados p{
    
    text-align: center;
}
.tutoriales-container video{
    width: 90%;

}

.tutoriales-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin-left: 3rem;
}

@media screen and (max-width:490px){
    .tutoriales-container{
        display: block;
    }
    

}